.series-page-intro > div {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 1px solid var(--primary-color);
	border-inline-start-width: 0.3rem;
	border-radius: 10px;
	padding: 1rem;

	p {
		margin: 0;
	}

	summary::marker {
		color: var(--primary-color);
		font-size: 1.3rem;
	}

	details {
		ol {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
